@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AlinhaOTexto{
  text-align: center;
}

.logo {
  height: 3em;
  background: rgb(255, 255, 255);
  margin: 1em;
  font: arial;
}

.Texto-logo{
  margin-bottom: 100px;
  color: rgb(1, 16, 80);
}

.NotificationSuccess{
  background-color: #91d5ff;
}
.NotificationFail{
  background-color: #ffccc7;
}
.ProcessoConfirmado{
  background-color: #85fcc4
}
.buttonModal{
  width:70%;
  
}
.spanSpace{
  padding-left: 2em;
}
.card{
  
  padding-right: 2em;
  
  
}
.textoBranco{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: floralwhite;

}
.resultadoItemCard1{
  color: #389e0d;
  /* padding-right: 100%; */
  
}
.resultadoItemCard6{
  color: #3f6600
}
.percent{
  padding-bottom: 1.7em;
}
.espacamento{
  padding-top: 1em;
}
.position-login{
  padding-top: 10em; 
}
.content{
  background-color: white
}
.perfil-cliente{
  padding-left: 2em;
  padding-right: 2em;
}
.btnDependente{
  background-color: #76f041;
  color: white;
}
.btnDelete{
  background-color: tomato;
  color: white;
}

.cardHome{
  border: gainsboro;
  border-style: solid;
  border-width: 1px;
  margin-right: 0.5em;
  height: 9em;
  
}

@media only screen and (max-width: 600px){
  .svgIcon{
    
    width: 3.5rem;
    height: 3.5rem;
  }
  
} @media only screen and (min-width: 600px){
  .svgIcon{
    
    width: 3.5rem;
    height: 3.5rem;
  }
}

.check{
  fill: #66ca3a;
}
.clock{
  fill: rgb(255, 209, 4);
}
.times{
  fill: tomato;
  
}
.titleCard{
  /* background-color: tomato; */
    width: 100%;
    height: 2em;
    padding-top: 0.25em;
    margin-left: 3em;
    margin-left: 0px;
    text-align: center;
    font-size: 1.3em;
    color: white;
}
.titleCheck{
  background-color: #66ca3a;
}
.titleClock{
  background-color: rgb(235, 192, 0);
}
.titleTimes{
  background-color: tomato;
}
.iconBox{
  padding-left: 2em;
  padding-top: 1em;
}
.cardHomeBody::after{
  content: "";
    clear: both;
    display: table;
}
.resultBox{
  padding-left: 7em;
  padding-top: 1.3em;
}

.numberResult{
  font-size: 2.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  
  
}
.number-color-check{
  color: #478a2b;
}
.number-color-clock{
  color: rgb(206, 168, 2);
}
.number-color-times{
  color: rgb(204, 86, 65);
}
#inputPesquisarCPF{
  margin-bottom: 1em;
  margin-top: 1em;
}
#inputPesquisarNome{
  margin-bottom: 1em;
  margin-top: 1em;
}
.paddingbottom2em{
  padding-bottom: 2em;
}
.formAddUser{
  padding: 1em;
  padding-top: 2em;
}